$s-width: 320px
$s-height: 580px

$s-header-height: 48px
$s-li-padding: 16px


$c-main: #333

h1
	text-align: center
	margin-top: 32px

.app
	margin: 32px auto
	width: $s-width
	height: $s-height
	border: 1px solid $c-main
	overflow: hidden

.pages
	height: $s-height - $s-header-height

.control
	margin-top: 16px

.btn
	padding: 8px
	user-select: none

.header
	user-select: none
	height: $s-header-height
	background-color: $c-main
	color: white
	position: relative
	z-index: 1
	cursor: grab
	overflow: hidden
	&:active
		cursor: grabbing

.transition
	transition: all .1s cubic-bezier(.38,-0.1,.65,1.3)

.pullmenu-icon
	user-select: none
	width: 16px
	height: 2px
	background: white
	position: absolute
	right: 20px
	bottom: $s-header-height/2 + 4
	transition: opacity .2s ease-in-out
	&:after
		content: ''
		width: 8px
		height: 2px
		background: white
		position: absolute
		top: 10px
		left: 4px
	&:before
		content: ''
		width: 16px
		height: 2px
		background: white
		position: absolute
		top: 5px
		left: 0
	&.hide
		opacity: 0

.menu
	width: 3000px
	margin: 0
	left: 0
	padding: 0
	position: absolute
	// transition: left .3s cubic-bezier(.39,0.2,.27,1.2)
	transition: left .3s ease-in-out
	height: $s-header-height
	line-height: $s-header-height

	li
		list-style: none
		color: white
		display: inline-block
		margin-right: -4px
		padding: 0 $s-li-padding
		opacity: 1
		transition: opacity .2s ease-out
		width: $s-width - $s-li-padding*2
		text-align: center
