doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title JS Events
		meta(name="description" content="js events")
		meta(name="keywords" content="js events")
		meta(name="author" content="Kamrade")
		meta(name="apple-mobile-web-app-capable" content="yes")
		link(rel="stylesheet" type="text/css" href="dist/css/bundle.min.css")

	body
		h1 JS Events
		
		div.rubic
			ul.square-list
				li(onclick="alertConsole()").box.red 1
				li.box.darksalmon 2
				li.box.goldenrod 3
				li.box.green 4
				li.box.lightblue 5
				li.box.blue 6
				li.box.violet 7
				li.box.violetred 8
				li.box.wheat 9

		script(type="text/javascript" src="dist/js/app.js")
