doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title JS Events
		meta(name="description" content="js events")
		meta(name="keywords" content="js events")
		meta(name="author" content="Kamrade")
		meta(name="apple-mobile-web-app-capable" content="yes")
		link(rel="stylesheet" type="text/css" href="dist/css/bundle.min.css")

	body
		h1 JS Events
		div.app
			div.header
				ul.menu
					li item 1
					li item 2
					li item 3
					li item 4
					li.reload
						i.loader-icon.anim
				div.pullmenu-icon
			div.pages
				div.page.page-1
				div.page.page-2
				div.page.page-3
				div.page.page-4
		div.control
			button#previous.btn.previous Previous
			button#next.btn.next Next
				

		script(type="text/javascript" src="dist/js/classie.js")
		script(type="text/javascript" src="dist/js/app.js")
