doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title JS Events
		meta(name="description" content="js events")
		meta(name="keywords" content="js events")
		meta(name="author" content="Kamrade")
		meta(name="apple-mobile-web-app-capable" content="yes")
		link(rel="stylesheet" type="text/css" href="dist/css/bundle.min.css")

	body
		h1 JS Events
		
		div.rubic
			ul.grid
				li(data-color="red").box.red
					a(href="http://ya.ru")
						img(src="./dist/css/img/pic-01.jpg" alt="1")
				li(data-color="darksalmon").box.darksalmon
					a(href="http://ya.ru")
						img(src="./dist/css/img/pic-02.jpg" alt="2" )
				li(data-color="goldenrod").box.goldenrod
					a(href="http://ya.ru")
						img(src="./dist/css/img/pic-03.jpg" alt="3" )
				li(data-color="green").box.green
					a(href="http://ya.ru")
						img(src="./dist/css/img/pic-04.jpg" alt="4" )
				li(data-color="lightblue").box.lightblue
					a(href="http://ya.ru")
						img(src="./dist/css/img/pic-05.jpg" alt="5" )
				li(data-color="blue").box.blue
					a(href="http://ya.ru")
						img(src="./dist/css/img/pic-06.jpg" alt="6" )
				li(data-color="violet").box.violet
					a(href="http://ya.ru")
						img(src="./dist/css/img/pic-07.jpg" alt="7" )
				li(data-color="violetred").box.violetred
					a(href="http://ya.ru")
						img(src="./dist/css/img/pic-08.jpg" alt="8" )
				li(data-color="wheat").box.wheat
					a(href="http://ya.ru")
						img(src="./dist/css/img/pic-09.jpg" alt="9" )

		script(type="text/javascript" src="dist/js/app.js")
